<div style="padding: 15px;">
        <div class="container-general">
                <div class="container-grid">
                        <div style="position: relative;;width: 50%;padding: 10px;text-align: center;">
                                <h3 style="background-color: var(--color-info-dark);color: #fff;border-radius: 10px;">גרף טפסים</h3>
                                <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
                        </div>
                        <div style="position: relative;;width: 50%;padding: 10px;border-right: 2px solid #ccc;text-align: center;">
                                <h3 style="background-color: var(--color-info-dark);color: #fff;border-radius: 10px;">גרף טסטים</h3>
                                <canvasjs-chart [options]="chartOptions2"></canvasjs-chart>
                        </div>
                </div>
        </div>
</div> 
      
