table {
   table-layout: fixed;
   width: 100%;  
   text-align: center;
   
 }

 th,td{
   border: 1px solid #ccc;
   text-align: center;
 }
 .imgeClassPrint{
   // padding: 2px 1px 1px 1px;
   width: 100%;
   height: 105px;
 }