<div style="margin-bottom: 15px;direction: ltr;">
   <table>
       <tr>
           <th rowspan="5"><img class="imgeClassPrint" src="/assets/Image/logoSofi_hebrew.jpg" ></th>
         </tr>
       <tr>
           <td>{{procedureNumber}}</td>
           <th>:מספר נוהל</th>
       </tr>
       <tr>
           <td>{{edition}}</td>
           <th>:מהדורה</th>
       </tr>
       <tr>
       <td>{{effectiveDate}}</td>
       <th>תאריך תוקף</th>
       </tr>
       <tr>
           <td>עמוד 1 מתוך 1</td>
           <th>:מס' עמוד</th>
           </tr>
       <tr>
           <th colspan="3" ><h2 style="margin-bottom: 0px;">שם טופס: {{nameForm}} {{formDate}}</h2></th>
       </tr>
   </table>
</div>