.container-grid{
        // display: grid;
        // grid-template-columns: 25% 75%;
        // gap: 5px;
        width: 100%;
        border-radius: 10px;
}
.contianer-left{
        display: flex;
        max-height: 89vh;overflow-y: auto;
        flex-direction: column;
}
.container-rigth{
        box-shadow: var(--box-shadow);

}
.container-rigth,.contianer-left{
        height: 80vh;
        
        // border-radius: 12px;
     
}
.border-boxes{
        border: 1px solid var(--color-dark);
}
.container-orderHover{
        // border: 1px solid var(--color-dark);
        border-radius: 4px;
}
.container-orderHover:hover{
        background-color: #dfdede;
        transition: all ease-in-out .3s;
}
.header-container-left{
        
        display: flex; gap: 10px ;
        background-color: var(--color-buttons);
        padding: 5px;
        padding-right: 5px;
        align-items: center;
        border-radius: 4px 4px 0px 0px;
        position: sticky;
        top: 0px;
        z-index: 3;
}
.body-container-left{
        
        border-bottom: 1px solid #ccc;height: auto;display: flex;gap: 5px;padding: 5px;
        max-width: 90%;
        overflow-x: auto;
}
.contianer-left h2{
        padding: 5px;
}

.cotnainer-boxes{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 89%;
        padding: 5px;
}

.boxes{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        // flex-wrap: wrap
}
.box-item{
        flex-grow: 1;
        flex-basis: 100px;
        width: 100px;
        
}
.buttonSurface{
        display: flex;
        gap: 2px;
        flex-direction: column;
        
}
.button-green{
        color: #fff !important;
        // font-size: 1.1rem !important;
        background-color: var(--color-buttons) !important;
}

.button-black-orange{
        color: #fff !important;
        // font-size: 1.1rem !important;
        background-color:  #4c3228 !important; 
}

.button-brown{
        color: #fff !important;
        // font-size: 1.1rem !important;
        background-color:#98804f !important;
}
.button-green:disabled {
        background-color: rgba(26, 27, 31, .12)!important;
        color: #c4c6d0 !important;
}
.button-black-orange:disabled {
        color: #c4c6d0 !important;
        background-color: rgba(26, 27, 31, .12) !important;
}
.button-brown:disabled {
        color: #c4c6d0 !important;
        background-color: rgba(26, 27, 31, .12) !important;
}
.buttons-container{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        padding: 5px;
        max-height: 276px !important;
        width: 100% !important;
        flex-grow: 3;
}
.body-order{
        display: grid;

        grid-template-columns: repeat( auto-fit, minmax(90px, 1fr) );
   
        gap: 5px;
        height: 80%;
        overflow-x: hidden;
        overflow-y: auto;
        align-items: center;
        padding: 5px;

      
}
.box-surface{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // flex-basis: 32%;
        width: auto;
        gap:5px;
        height: 50px;
        text-align: center;       
}
.box-surface{
        p{
                margin-bottom: 0px;
                font-size: 1rem !important;
                font-weight: bold;
        }
}
::ng-deep .ui-dropdown .ui-dropdown-label {
        text-overflow: ellipsis;
        padding-right: 2em !important;
    }
::ng-deep .p-dropdown-items-wrapper >ul {
        padding-left: 0px !important;
        padding-bottom: 0px !important;
}
::ng-deep .p-dropdown-filter-container > input{
        height: 30px !important;
}
.sizeIconButton{
        min-width: 50px !important;
        flex-grow: 1 !important;
        color: #333;
        height: 45px;
        flex-basis: 20px;
        border-radius: 4px;
}
