
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <select class="form-control" id="selectDate">
                <option selected disabled>תאריך</option>
                <option *ngFor="let date of this.datesSelect" value="{{date}}">{{date}}</option>

            </select>
            </div>
            <div class="modal-footer">
         
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="changeDate();">Save changes</button>
            </div>
          </div>
        </div>
      </div>

<div style="padding: 15px;">
        <div class="container-general">
                <div class="container-grid mat-elevation-z8" style="border-radius: 4px;">
                        <div class="contianer-left">
                                <div class="header-container-left">
                                        <button mat-raised-button style="background-color: #fff;" (click)="connectionNetwork()?saveDataDataBase():saveDataLocalStorage()" [disabled]="isSaveOrder==false||this.dataSurface.length==0">
                                                <span class="material-symbols-outlined" style="position: relative;top: 3px;" >
                                                        save                
                                                </span>
                                        </button>
                                        <button *ngIf="this.dayDate==this.dateToCheck" mat-raised-button style="background-color: #fff;" (click)="addProdects()" [disabled]="isEditRow==true">
                                                <span class="material-symbols-outlined" style="position: relative;top: 3px;" >
                                                        add                
                                                </span>
                                        </button>
                                        <button *ngIf="this.dayDate!=this.dateToCheck" mat-raised-button style="background-color: #fff;"  data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="isEditRow==true">
                                                <span class="material-symbols-outlined" style="position: relative;top: 3px;" >
                                                        add                
                                                </span>
                                        </button>
                                       
                                </div>
                                <div *ngFor="let container of dataSurface;index as indexContainer" [class]="container.isRowEdit==true?'mat-elevation-z8':'container-orderHover'"   [style]="container.isRowEdit==false?'cursor:pointer':'cursor: default'"  style="padding: 10px;margin-bottom: 5px;" >
                                        <h2 style="background-color: var(--color-dark);color: #fff;margin-bottom: 0px;border-radius: 4px;" [attr.data-toggle]="container.date_order==this.dayDate?'':'collapse'" [attr.data-target]="'#order'+indexContainer" (click)="container.date_order==this.dayDate?'':isEditRowChange(indexContainer,container.reference)">  
                                                <button mat-raised-button style="background-color: #fff;margin-left: 10px;" (click)="moveQrPage(container.reference)" [disabled]="container.isRowEdit==false">
                                                        <span class="material-symbols-outlined" style="position: relative;top: 5px" >
                                                                qr_code
                                                        </span>
                                                </button>
                                                <mat-icon style="position: relative;top: 5px;">{{container.isRowEdit==false?'lock':'lock_open'}}</mat-icon> ({{container.date_order}}) סה"כ משטחים בהזמנה: {{container.total_surface}}
                                        </h2>
                                <div id="{{'order'+indexContainer}}" [class]="container.date_order==this.dayDate?'':'collapse'">
                                <div style="display: grid;grid-template-columns: repeat( auto-fill, minmax(290px, 1fr) );gap:5px">
                             
                                <ng-container *ngFor="let box of container.array;index as i">
                                <div>
                                        <div style="height: auto;display: flex;gap: 5px;padding: 5px; z-index: 3;">
                                                <div [class]="container.isRowEdit==true?'buttons-container mat-elevation-z8':'buttons-container border-boxes'" style="border-radius: 10px;">
                                                        <div style="width: 100%;max-height: 120px;" (click)="getAllWholesalerByOrder(container.reference)">
                                                                <p-dropdown  [options]="wholesalersAfter" [disabled]="box.isEdit==false || container.isRowEdit==false" [(ngModel)]="box.name" [placeholder]="box.name!=''?box.name:'סיטונאים'" optionLabel="name"[filter]="true"filterBy="{{fliterName}}"[showClear]="false"[style]="{'width':'100%'}" (onChange)="addWholesalers(box.name,i)">
                                                                <ng-template pTemplate="filter"  let-options="options">
                                                                        <div  style="display: grid;gap: 5px; grid-template-columns: 30% 70%;" (click)="$event.stopPropagation()">
                                                                                <input class="form-control"
                                                                                        type="text"
                                                                                        pInputText
                                                                                        placeholder="קוד"
                                                                                        style="height: 35px;"
                                                                                        [(ngModel)]="codeWholesalersFilter"
                                                                                        (keyup)="customFilterFunction($event, options);fliterName='code'" />
                                                                                        

                                                                                <input class="form-control"
                                                                                        type="text"
                                                                                        pInputText
                                                                                        style="height: 35px;"
                                                                                        placeholder="שם סיטונאי"
                                                                                        [(ngModel)]="nameWholesalersFilter"
                                                                                        (keyup)="customFilterFunction($event, options);fliterName='name'" />
                                                                           
                                                                            
                                                                        </div>
                                                                    </ng-template>
                                                                <ng-template let-wholesaler pTemplate="selectedItem">
                                                                                <span style="margin-right: 30px;">{{wholesaler.code}}</span> - <span >{{wholesaler.name}}</span>
                                                                </ng-template>
                                                                <ng-template let-wholesalerItem pTemplate="item" >
                                                                                <span style="margin-right: 30px;">{{wholesalerItem.code}}</span> - <span >{{wholesalerItem.name}}</span> 
                                                                </ng-template>
                                                                </p-dropdown>    
                                                               
                                                        </div>
                                                        <div style="display: flex;gap: 5px;flex-wrap: wrap;">
                                                                       <!-- [disabled]="box.isEdit==false||container.isRowEdit==false" -->
                                                                        <button class="sizeIconButton" mat-raised-button [disabled]="box.isEdit==false||container.isRowEdit==false"  (click)="saveWholesalers(i)">
                                                                                <div style="display: flex ;flex-direction: column; align-items: center;justify-content: center;position: relative;top: 2px;width: 45px;">
                                                                                <span class="material-symbols-outlined" >
                                                                                save
                                                                                </span>
                                                                                <span style="font-size: 1rem;font-weight: 500;">שמירה</span>
                                                                                </div>
                                                                        </button>
                                                                <button  class="sizeIconButton"mat-raised-button [disabled]="box.isEdit!=false||container.isRowEdit==false" style="color: #333;height: 45px;flex-grow: 1;flex-basis: 20px;border-radius: 4px;">
                                                                        <div style="display: flex ;flex-direction: column; align-items: center;justify-content: center;position: relative;top: 2px;">
                                                                        <span class="material-symbols-outlined">
                                                                                local_shipping
                                                                        </span>
                                                                        <span style="font-size: 1rem;font-weight: 500;">שיווק</span>
                                                                        </div>
                                                                </button>
                                                                <button  class="sizeIconButton" mat-raised-button [disabled]="box.isEdit!=false||container.isRowEdit==false" style="height: 45px;color: #333;flex-grow: 1;flex-basis: 20px;border-radius: 4px;" (click)="editWholesalers(box.code_wholesalers+' - '+box.name_wholesalers,i)">
                                                                        <div style="display: flex ;flex-direction: column; align-items: center;justify-content: center;position: relative;top: 2px;">
                                                                                <span class="material-symbols-outlined" >
                                                                                        edit
                                                                                </span>
                                                                                <span style="font-size: 1rem;font-weight: 500;">עריכה</span>
                                                                        </div>
                                                                </button>
                                                        </div>
                                                
                                                        
                                                        <div class='body-order' [style]="box.surfaces.length!=0?'border-top:1px solid #eee;padding-top:5px':''">
                                                                <ng-container *ngFor="let boxes of box.surfaces">
                                                                <div style="flex-grow: 2;
                                                                flex-basis: 30%;">
                                                                                <div class="box-surface" >
                                                                                        <div [class]="classTypeColor[boxes.type]" style="padding: 5px; border-radius: 4px; font-size: 12px;width: 100%;">
                                                                                        <p  >
                                                                                        ({{boxes['size']}}) {{boxes.type}} 
                                                                                        </p>
                                                                                        <p>כמות : {{boxes.count}}</p>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </ng-container>
                                                        </div>
                                                        <div style="padding: 5px;border-top:1px solid #eee;" *ngIf="box.surfaces.length!=0">
                                                                <h2 style="margin-bottom: 0px;padding: 0px !important;">כמות משטחים סה"כ: {{box.countSurface}} </h2>
                                                        </div>
                                                </div>

                                                </div>
                                        </div>

                                        </ng-container>
                                        </div>
                                </div>
                        </div>
                        </div>
                 

                </div>
                

        </div>

</div>
